<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="titan" type="Titan.Config.TitanSection,Titan" />
  </configSections>
  <titan>
    <dbSessionProviders>
      <!--亿川阿里云服务器-->
      <dbSessionProvider name="ec" type="Titan.MySqlSession,Titan" connectionString="Data Source=121.42.165.52;Port=3306;Initial Catalog=Titan;Persist Security Info=True;User ID=eden;Password=123123;" provider="MySql.Data.MySqlClient" />
    </dbSessionProviders>
    <dbCommandMonitorProviders>
      <dbCommandMonitorProvider type="Titan.SqlTracer" enabled="false" />
    </dbCommandMonitorProviders>
  </titan>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>